# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Desktop Services Store Folder
__MACOSX/

# File metadata
*.swp
*~.nib
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# macOS trash
.Trashes
